.container {
  margin-top: 100px;
}

h1 {
  text-align: left;
  padding: 20px;
}

.card {
  margin: auto;
  background-color: rgb(72, 128, 128);
  color: white;
  padding: 25px;
  box-shadow: 4px 4px 4px 4px rgb(32, 71, 73);
}
